.container {
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  animation: rotating-circle 5s linear infinite;
}

.moon-box {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.7s;
  z-index: 10;
}

.one {
  position: absolute;
  top: 55px;
  left: 55px;
}

.two {
  position: absolute;
  top: 55px;
  right: 55px;
}

.three {
  position: absolute;
  bottom: 20px;
  left: 40%;
  top: 96%;
}

.moon-color-1 {
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 3s;
  animation: moons-oppacity 4s linear infinite;
}
.moon-color-2 {
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 3s;
  animation: moons-oppacity 4s ease infinite;
}
.moon-color-3 {
  background-color: orange;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: moons-oppacity 4s ease infinite;
}

@keyframes rotating-circle {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes moons-oppacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.9;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
