html,
body {
  padding: 0;
  margin: 0;
  font-family: Monsterrat, Roboto, Oxygen, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* carousel arrows color */

.swiper-button-next,
.swiper-button-prev {
  color: #00d !important;
}

.swiper-slide {
  flex-shrink: 3 !important;
  /* width: 100% !important; */
}

@media (max-width: 790px) {
  .swiper-slide {
    flex-shrink: 2 !important;
    width: 100% !important;
  }
}
